<% if current_user %>
  <%= link_to decidim.account_path do %>
    <% if current_user.avatar.attached? %>  
        <span class="main-bar__avatar">
          <%= image_tag(
                current_user.attached_uploader(:avatar).path(variant: :thumb),
                alt: t("decidim.author.avatar", name: decidim_sanitize(current_user.nickname))
              ) %>
        </span>
    <% else %>
      <%= image_tag("/media/images/default-avatar.svg", alt: current_user.name) %>
    <% end %>
  <% end %>
<% end %>
